body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    background-image: url('caminho_para_sua_imagem.jpg');
    background-size: cover;
    /* Garante que a imagem cubra toda a área disponível */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita a repetição da imagem */
    background-attachment: fixed;
}

.titl {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

.calculadora {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.display {
    width: 93%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
}

.teclas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #f0f0f0;
}

button:hover {
    background-color: #e0e0e0;
}